<app-top-bar></app-top-bar>
<app-navbar></app-navbar>

<div *ngIf="isLoading; else contentBlock">

</div>

<ng-template #contentBlock>

  <div *ngIf="customer && documentType && customerType && geographicArea; else elseBlock">
    <div class="customer-detail-container">
      <div class="customer-detail-container__detail-container">
        <h2>Información del cliente</h2>

        <div class="info-section">
          <div class="info">
            <h4 class="info-main">{{ customer.name }} {{ customer.lastName }}</h4>
            <p>{{ documentType.description }} {{ customer.document }}</p>
          </div>
          <div class="info">
            <h4>Fecha de nacimiento</h4>
            <p>{{ customer.birthdate | date:'dd-MM-yyyy' }}</p>
          </div>
          <div class="info">
            <h4>Tipo de cliente</h4>
            <p>{{ customerType.customerTypeName }}</p>
          </div>
          <div class="info">
            <h4>Correo electrónico</h4>
            <p>{{ customer.email }}</p>
          </div>
          <div class="info">
            <h4>Zona geográfica</h4>
            <p>{{ geographicArea.name }}</p>
          </div>
          <div class="info">
            <h4>Número de telefónico móvil</h4>
            <p>{{ customer.phoneNumber }}</p>
          </div>
          <div class="info">
            <h4>Número telefónico asignado</h4>
            <p>{{ telephoneNumber ? telephoneNumber.phoneNumber : "No tiene" }}</p>
          </div>
          <div class="info">
            <h4>Dirección</h4>
            <p>{{ customer.address }}</p>
          </div>
        </div>

        <div class="action-btns">
          <button pButton type="button" (click)="assignNumber()" class="p-button-raised p-button-rounded" label="Asignar número" [disabled]="telephoneNumber"></button>
          <button pButton type="button" (click)="releaseNumber()" class="p-button-raised p-button-rounded" label="Liberar número" [disabled]="!telephoneNumber"></button>
          <button pButton type="button" (click)="onUpdate()" class="p-button-raised p-button-rounded" label="Actualizar"></button>
          <button pButton type="button" (click)="downloadHistory()" class="p-button-raised p-button-rounded" label="Descargar histórico"></button>
        </div>
        
        <p-messages [(value)]="messages"></p-messages>
      </div>
    </div>
  </div>

  <ng-template #elseBlock>
    <div class="customerNotFound">
      <h2>Clente no encontrado</h2>
      <button pButton type="button" [routerLink]="customerPath" class="back-btn p-button-raised p-button-rounded" label="Volver"></button>
    </div>
    <p-messages [(value)]="messages" ></p-messages>
  </ng-template>

</ng-template>
