<app-top-bar></app-top-bar>
<app-navbar></app-navbar>

<div *ngIf="isLoading; else contentBlock">

</div>

<ng-template #contentBlock>

  <div *ngIf="telephoneNumber && customer && center; else elseBlock">
    <div class="tel-detail-container">
      <div class="tel-detail-container__detail-container">
        <h2>Información del número telefónico</h2>

        <div class="info-section">
          <div class="info">
            <h4>Número telefónico</h4>
            <p>{{ telephoneNumber.phoneNumber }}</p>
          </div>
          <div>
            <h4>Cliente</h4>
            <p>{{ customer.name }} {{ customer.lastName }}<br>{{ documentType.typeCode }} {{ customer.document }}</p>
          </div>
          <div>
            <h4>Central</h4>
            <p>{{ center.name}}</p>
          </div>
          <div>
            <h4>Fecha de asignación</h4>
            <p>{{ telephoneNumber.assignmentDate | date:'dd-MM-yyyy' }}</p>
          </div>
          <div>
            <h4>Disponibilidad</h4>
            <p>{{ telephoneNumber.releaseDate ? "No" : "Si" }}</p>
          </div>
          <div>
            <h4>Fecha de liberación</h4>
            <p>{{ telephoneNumber.releaseDate ? (telephoneNumber.releaseDate | date:'dd-MM-yyyy') : "Indefinido" }}</p>
          </div>
        </div>
        
        <button pButton type="button" (click)="downloadHistory()" class="p-button-raised p-button-rounded" label="Descargar histórico"></button>
        
        <p-messages></p-messages>
      </div>
    </div>
  </div>

  <ng-template #elseBlock>
    <div class="telephoneNotFound">
      <h2>Número telefónico no encontrado</h2>
      <button pButton type="button" [routerLink]="telephonePath" class="back-btn p-button-raised p-button-rounded" label="Volver"></button>
    </div>
  </ng-template>

  <p-messages [(value)]="messages" ></p-messages>

</ng-template>
