<app-top-bar></app-top-bar>
<app-navbar></app-navbar>

<div class="telephone-bar">
  <h2>Consultar números telefónicos</h2>
</div>

<div class="telephone-container">
  <div class="telephone-container__search-container">
    <h2>Buscar número telefónico</h2>
    <p>Digita el número telefónico para consultar la línea</p>

    <form (ngSubmit)="onSearch()" [formGroup]="form">
      <div class="numberInput">
        <label for="telNumber">Número telefónico</label>
        <p-inputNumber mode="decimal" inputId="telNumber" name="telNumber" formControlName="telNumber" placeholder="Ingrese el número" [useGrouping]="false" [min]="1000000" [max]="99999999" autocomplete="off"> </p-inputNumber>
      </div>
      <button pButton type="submit" class="p-button-raised p-button-rounded" label="Buscar" [disabled]="form.invalid"></button>
    </form>
    <p-messages></p-messages>
  </div>
</div>
