<app-top-bar></app-top-bar>
<app-navbar></app-navbar>

<div class="telephone-bar">
  <h2>Consultar números telefónicos</h2>
</div>

<div class="telephone-container">
  <div class="telephone-container__search-container">
    <h2>Buscar número telefónico</h2>
    <p>Digita el número telefónico para consultar la línea</p>

    <div class="numberInput">
      <label for="telephoneNumber">Número telefónico</label>
      <p-inputNumber [(ngModel)]="selectedNumber" mode="decimal" inputId="telephoneNumber" placeholder="Ingrese el número" [useGrouping]="false" [min]="1000000" [max]="99999999"> </p-inputNumber>
    </div>

    <button pButton type="button" (click)="onSearch()" class="p-button-raised p-button-rounded" label="Buscar" [disabled]="!selectedNumber"></button>

    <p-messages></p-messages>
  </div>
</div>
