<app-top-bar></app-top-bar>
<app-navbar></app-navbar>
<!-- <div class="card">
</div> -->
<p-table
    [value]="centersPage.centers"
    [paginator]="false"
    [rows]="pageSize"
    [first]="centersPage.page"
    [tableStyle]="{ 'min-width': '50rem' }"
>
    <ng-template pTemplate="header">
        <tr>
            <th style="width:25%">Id</th>
            <th style="width:25%">Nombre</th>
            <th style="width:25%">Dirección</th>
            <th style="width:25%">Correo</th>
            <th style="width:25%">Teléfono</th>
            <th style="width:25%">Rango inicial</th>
            <th style="width:25%">Rango final</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-center>
        <tr>
            <td>{{ center.centerId }}</td>
            <td>{{ center.name }}</td>
            <td>{{ center.address }}</td>
            <td>{{ center.email }}</td>
            <td>{{ center.phoneNumber }}</td>
            <td>{{ center.initialNumber }}</td>
            <td>{{ center.finalNumber }}</td>
            <td>
              <button pButton type="button" (click)="centerDetail(center.centerId)" class="p-button-raised p-button-rounded" label="Detalles"></button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-paginator (onPageChange)="onPageChange($event)" [rows]="pageSize" [totalRecords]="centersPage.totalRecords"></p-paginator>
