@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: url(assets/fonts/Roboto_Condensed/static/RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url(assets/fonts/Roboto_Condensed/static/RobotoCondensed-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;

  --font-regular: 'RobotoCondensed-Regular', sans-serif;
  --font-bold: 'RobotoCondensed-Bold', sans-serif;

  font-family: var(--font-regular);

  --color-primary300: #FFD333;
  --color-primary200: #FFDC5D;
  --color-primary100: #FFF9E2;

  --color-secondary200: #016D38;
  --color-secondary100: #338E43;

  --color-grayscale700: #333333;
  --color-grayscale600: #686868;
  --color-grayscale500: #999999;
  --color-grayscale400: #CCCCCC;
  --color-grayscale300: #DDDDDD;
  --color-grayscale200: #EEEEEE;
  --color-grayscale100: #FFFFFF;
}
