.top-bar {
  position: relative;
  z-index: 9;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  color: var(--color-grayscale100);
  background-color: var(--color-secondary400);

  &__title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  &__img {
    position: absolute;
    right: 20%;
    transform: translateX(80%);
    filter: grayscale(100%);
    filter: invert(100%);
    height: 45px;
  }
}
