.login-container {
  position: relative;
  height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background: url("../../../assets/images/login-bg.jpg") var(--color-grayscale200) 50% / cover no-repeat;

  &__form-container {
    height: 75%;
    max-height: 570px;
    min-height: 500px;
    width: 540px;
    margin-left: 7%;
    padding: 4%;
    border-radius: 10px;
    background-color: var(--color-grayscale100);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);

    h2 {
      font-size: 1.25rem;
      color: var(--color-secondary400);
    }

    p {
      margin-top: 6%;
      color: var(--color-grayscale600);
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .form-input {
        margin-top: 6%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        width: 100%;

        label {
          margin-bottom: 3%;
          color: var(--color-grayscale700);
        }

        input {
          font-family: var(--font-regular);
        }
      }

      button {
        margin-top: 6%;

        border: none;
        font-size: 14px;
        width: 140px;
        height: 40px;
        min-height: 40px;
        background-color: var(--color-primary200);
        color: var(--color-secondary400);

        &:hover {
          background-color: var(--color-primary300);
          transition: all .2s;
        }

        &:active {
          background: var(--color-primary200);
          box-shadow: inset 0 4px 4px #00000026 !important;
        }

        &:focus {
          box-shadow: none;
        }

        &:focus-visible {
          box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #ddcc85, 0 1px 2px 0 black;
        }

        &:disabled {
          background-color: var(--color-grayscale300);
          color: var(--color-grayscale600);
        }
      }
    }

  }
}
