<app-bar></app-bar>
<app-welcome-bar></app-welcome-bar>

<div class="login-container">
  <div class="login-container__form-container">
    <h2>Acceda al sistema y comience a administrar los clientes con sus números telefónicos</h2>
    <p>También podrá consultar centrales, zonas geográficas, información de clientes y más.</p>

    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="form-input">
        <label for="username">Nombre de usuario</label>
        <input type="text" pInputText id="username" formControlName="username" placeholder="Ingrese el nombre" />
      </div>
      <div class="form-input">
          <label for="password">Contraseña</label>
          <input type="password" pInputText id="password" formControlName="password" placeholder="Ingrese la contraseña" />
      </div>
      <button pButton type="submit" class="p-button-raised p-button-rounded" label="Ingresar" [disabled]="form.invalid"></button>
    </form>

    <p-messages></p-messages>
    
  </div>
</div>
